<div class="form-group">
  <label>Choose an artist</label>
  {{#rr-combobox
        on-select=(action "selectArtist")
        on-input=(action "filterArtists")
        class="combobox-container" as |isDropdownVisible onSelect onInput|}}
    <div class="input-group">
      {{rr-combobox-input
          value=selectedArtist.name
          on-change=onInput
          type="text"
          class="combobox input-large form-control"
          placeholder="Select an artist"}}
      {{#rr-combobox-items isVisible=isDropdownVisible class="typeahead typeahead-long dropdown-menu"}}
        {{#each matchingArtists as |artist|}}
          {{#rr-combobox-item
              item=artist
              on-click=onSelect
              class=(if (eq selectedArtist.id artist.id) 'active')}}
            <a href="#"><strong>{{artist.name}}</strong></a>
          {{/rr-combobox-item}}
        {{/each}}
      {{/rr-combobox-items}}
      {{#rr-combobox-dropdown-toggle class="input-group-addon dropdown-toggle"}}
        <span class="caret"></span>
        <span class="glyphicon glyphicon-remove"></span>
      {{/rr-combobox-dropdown-toggle}}
    </div>
  {{/rr-combobox}}
</div>
