<div class="form-group">
  <label>Choose an artist</label>
  {{#rr-combobox
        on-select=(action "selectArtist")
        on-input=(action "filterArtists")
        class="combobox-container" as |combobox isDropdownVisible onSelect onInput|}}
    <div class="input-group">
      {{rr-combobox-input
          value=selectedArtist.name
          on-change=onInput
          type="text"
          class="combobox input-large form-control"
          placeholder="Select an artist"}}
      {{#rr-combobox-list combobox=combobox isVisible=isDropdownVisible class="typeahead typeahead-long dropdown-menu" as |list|}}
        {{#each matchingArtists as |artist|}}
          {{#rr-combobox-option
              list=list
              item=artist
              on-click=onSelect
              class=(if (eq selectedArtist.id artist.id) 'active')}}
            <a href="#"><strong>{{artist.name}}</strong></a>
          {{/rr-combobox-option}}
        {{else}}
          <li><a href="#">No results.</a></li>
        {{/each}}
      {{/rr-combobox-list}}
      {{#rr-combobox-dropdown-toggle combobox=combobox class="input-group-addon dropdown-toggle"}}
        <span class="caret"></span>
        <span class="glyphicon glyphicon-remove"></span>
      {{/rr-combobox-dropdown-toggle}}
    </div>
  {{/rr-combobox}}
</div>
