<div class="form-group">
  <label>State</label>
  {{#rr-combobox class="combobox-container" as |isDropdownVisible|}}
    <div class="input-group">
      {{rr-combobox-input value=currentArtist.name type="text" class="combobox input-large form-control" placeholder="Select an artist"}}
      {{#rr-combobox-items isVisible=isDropdownVisible class="typeahead typeahead-long dropdown-menu"}}
        {{#each artists as |artist|}}
          {{#rr-combobox-item
              item=artist
              on-click=(action "selectArtist" artist)
              class=(if (eq selectedArtist.id artist.id) 'active')}}
            <a href="#"><strong>{{artist.name}}</strong></a>
          {{/rr-combobox-item}}
        {{/each}}
      {{/rr-combobox-items}}
      {{#rr-combobox-dropdown-toggle class="input-group-addon dropdown-toggle"}}
        <span class="caret"></span>
        <span class="glyphicon glyphicon-remove"></span>
      {{/rr-combobox-dropdown-toggle}}
    </div>
  {{/rr-combobox}}
</div>
