<div class="form-group">
  <label>State</label>
  <div class="combobox-container">
    <input type="hidden" name="normal" value="" />
    <div class="input-group">
      <input type="text" autocomplete="off" placeholder="Select a State" class="combobox input-large form-control">
      <ul class="typeahead typeahead-long dropdown-menu" style="top: 34px; left: 0px; display: none;">
        <li data-value="Florida" class="active">
          <a href="#"><strong>Florida</strong></a>
        </li>
      </ul>
      <span class="input-group-addon dropdown-toggle" data-dropdown="dropdown">
        <span class="caret"></span>
        <span class="glyphicon glyphicon-remove"></span>
      </span>
    </div>
  </div>
</div>
